# Non-standard required prerequisites for National-Park-Journal-and-Learn_HCI584:pillow  # I use version 9.4.0 pandas  # I use version 1.5.3# If installing via a Jupyter Notebook: #!pip3 install pillow  #!pip3 install pandas# If installing via a .py file, use subprocess to call pip3 and install the package: #import subprocess #subprocess.call(['pip3', 'install', 'pillow']) #subprocess.call(['pip3', 'install', 'pandas'])